table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

header {
    background: purple;
    background-image: url(https://resources.premierleague.com/photos/2020/10/14/c29e2653-0d5b-4099-a5c8-82e27839bf66/Statement_Graphic_Pink.png?width=930&height=620);
    color: #f3fcf0;
    padding: 20px;
    text-align: center;
  }

td, th {
    border: 1px solid #cccccc;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: rgb(72, 72, 220);
    color: white;
}

/* nav ul li {
    list-style: none;
    display: inline;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    font-weight: bolder;
} */

header nav ul {
    padding: 0;
  }
  
  header nav li {
    display: inline-block;
  }
  
  header nav li a {
    color: #f3fcf0;
    margin: 15px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
  }
  
  header nav li a:hover {
    color: #ffd23f;
    border-bottom: 2px dotted #ffd23f;
  }

@media (max-width: 1024px) {
    .footerSponsorStrip ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {
    .footerSponsorStrip a {
    margin: auto;
    }
}

a {
    background-color: transparent;
}

.footerSponsorStrip ul {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    padding: 0 0.2rem;
    color: #76766f;
    text-align: center;
    font-size: 1.1rem;
}

.footerSponsorStrip li a {
    /* align-self: center; */
    /* text-decoration: none; */
    /* color: #76766f; */
    /* text-align: center; */
    /* font-size: 1.1rem; */
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 100%; */
}
/* .footerSponsorStrip li .type {
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 0 0.2rem;
} */

ol li, ul li {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

a:-webkit-any-link {
    cursor: pointer;
}

ul {
    list-style: none;
    /* display: block; */
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}